.container
	= form_for @task do |t|
		= t.label :name
		= t.text_field :name
		%br
		= t.label :description
		= t.text_area :description
		%br
		= t.label :do_by_datetime
		= t.datetime_select :do_by_datetime
		%br
		= t.label "Urgent?"
		= t.select :urgency, [['Yes', true], ['No', false]]
		%br
		= t.label "Important?"
		= t.select :importance, [['Yes', true], ['No', false]]
		%br
		= t.submit "Create Task", class: "btn btn-primary"